

<h1 class="text-white bg-dark">Saved Pets!</h1>

<% allFavorites.forEach(animal => { %>
    <h2><%= animal.dataValues.name %></h2>
     <img src= "<%= (animal.photos) ? animal.photos[0].medium : 'null' %>"/>
    <h2><%= animal.dataValues.age %></h2>


    <form method="POST" action="/users/favorites/?_method=DELETE">
        <input hidden value="<%= animal.id %>" name="id"/>
       
        <button type="submit">Delete</button>
      
        
      </form>
    
<% }) %>

