
<div
  class="bg-image p-4 text-center shadow-1-strong  mb-6 text-white"
  style="background-image: url('/images/background.png');"
>
<h1 class="text-white bg-pink">Liked Pets</h1>

<% allFavorites.forEach(animal => { %>
    <h2><%= animal.dataValues.name %></h2>
     <img src= "<%= (animal.photos) ? animal.photos[0].medium : 'null' %>"/>
    <h2><%= animal.dataValues.age %></h2>


    <form method="POST" action="/users/favorites/?_method=DELETE">
        <input hidden value="<%= animal.id %>" name="id"/>
       
        <button type="submit">Remove</button>
      
        
      </form>
    
<% }) %>
</div>
