<% if (msg) { %>
    <div>
        <p><%= msg %></p>
        <img src="/images/meandog.png"/>
    </div>
<% } %>

<form id="form" action="/users/login" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="Enter your email" required />

    <label for="password">Password:</label>
     <input id="password" type="password" name="password" placeholder="Enter your password" required />
     <button type="submit">Login!</button>
</form>

<style>
    * {
    background-color: pink;
    font-size: 30px;
    color: hotpink;
  }

    #form {
        color: hotpink;
        font-size: 20px;
        font-family: sans-serif;
    }
    p {
        color: hotpink;
        font-family: sans-serif;
    }
</style>