<% if (msg) { %>
    <div>
        <p><%= msg %></p>
    </div>
<% } %>

<form action="/users" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="Enter your email" required />

    <label for="password">Password:</label>
     <input id="password" type="password" name="password" placeholder="Enter your password" required />
     <button type="submit">Sign up!</button>
</form>

<style>
    *{
        background-color: plum;
        font-size: 30px;
        font-family: sans-serif;
        color: lightpink;
    }
</style>