<h1>Profile</h1>
<img src="/images/crazydogg.png" alt="crazydog"/>
<form method="POST" action="/users/profile">
  <h2>Bio:</h2>
  <label for="aboutMe"></label>
  <textarea type="text" name="content" id="aboutMe" placeholder="Tell us about yourself!" required></textarea>
  <input hidden value="<%= user.id %>" name="userId" type="text"/>
  <button type="submit">Post</button>
</form>

<div>
<% comments.forEach(comment => { %>
    <h3><%= comment.content %></h3>
    <a href="/users/editprofile/<%= comment.id %>">Edit</a>
    <% }) %>
</div>

<style>
  * {
    background-color: pink;
  }
  h1, h2 {
    color: hotpink;
  }
</style>
